@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: 216 20% 1%;
  --primary-color: 0 0% 100%;
  --secondary-color: 0 0% 69%;
  --dark-hover: 216 10% 12%;
}

body {
  color: hsl(var(--primary-color));
  background: hsl(var(--dark));
  font-family: 'Inter', sans-serif;
}

.transition {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

.border-dark {
  @apply border;
  @apply border-secondary;
  @apply rounded-lg;
}
