@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: 216 20% 1%;
  --primary-color: 0 0% 100%;
  --secondary-color: 0 0% 69%;
  --tertiary-color: 0 0% 20%;
  --dark-hover: 216 10% 12%;
  --red-dark: 0 76% 57%;
  --green-dark: 149 64% 40%;
}

body {
  color: hsl(var(--primary-color));
  background: hsl(var(--dark));
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .transition {
    @apply transition-all duration-200 ease-in-out;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Handle non-webkit browser */
  .hide-scrollbar {
    scrollbar-width: none;
  }

  .border-dark {
    @apply border border-tertiary;
  }

  .border-row-dark {
    @apply border-x border-b border-tertiary;
  }

  .text-sm-bold {
    @apply text-sm font-bold
  }

  .text-list-header {
    @apply text-sm-bold text-secondary;
  }

  .list-header-right-align {
    @apply p-5 text-list-header flex justify-end items-center;
  }

  .list-content-right-align {
    @apply flex justify-end p-5 text-sm-bold;
  }
}
